* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    width: 100%;
}
main {
   /* border: 5px solid black; */
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
}
main header h1 {
    text-align: center;
    font-size: 3vw;
    padding: 1vw 0;
    color: #a81010;
}
main header p {
    color: #695705;
    font-size: 1.4vw;
    font-weight: bold;
    text-align: center;
    padding: 0.6vw 1vw;
    border: 0.7vw outset #f8ca0f;
    border-radius: 100px 25px 100px 25px;
    background: linear-gradient(181deg, #fefcea, #ebd747);
}
.gameSettings {
    margin: 2.5vw 0;
    line-height: 3.5vw;
    border: 0.3vw outset #f8ca0f;
    border-radius: 2%;
    color: #f2f2f2;
    font-weight: bold;
    padding: 1vw;
    background: linear-gradient(181deg, #a81010, #ebd747);
}
#levA, #levB, #levC,
label[for="levA"],
label[for="levB"],
label[for="levC"] {
    cursor: pointer;
}
#levA, #levB, #levC {
    width: 1%;
}
label[for="levA"],
label[for="levB"],
label[for="levC"] {
    font-size: 1.6vw;
}
input[type="text"] {
    width: 30%;
    padding: 0.3vw;
    font-size: 2.5vw;
    font-weight: bold;
    color: #ebd747;
    background: linear-gradient(181deg, #a81010, #ebd747);
    border: 0.1vw outset #f8ca0f;
    border-radius: 4%;
}
#startNewGame,
#submit {
    font-size: 1.3vw;
    border: 0.1vw outset #f8ca0f;
    border-radius: 4%;
    padding: 0.5vw;
    background: linear-gradient(181deg, white, #ebd747);
    color: darkgoldenrod;
    font-weight: bold;
}
#startNewGame {
    cursor: pointer;
}
#yourName {
    font-size: 1.5vw;
}
#score {
    font-size: 1.7vw;
    color: #a81010;
}
#scoreValue {
    color: white;
}
.gameProcess {
    text-align: center;
}
label[for="guessValue"],
#submitGuessValue {
    font-weight: bold;
    color: darkgoldenrod;
    font-size: 1.8vw;
    border-bottom: 0.2vw outset #ebd747;
    border-left: 0.4vw outset #ebd747;
}
#guessValue {
    width: 20%;
    padding: 2vw;
    font-size: 3vw;
    cursor: none;
    color: aquamarine;
}
#allNum, #lastNum, #tip {
    margin: 1.2vw 0;
    padding: 0.5vw 0;
    font-size: 1.5vw;
}
#allNum {
    font-weight: bold;
}